.header-title{
	text-align: center;
}

.form-label{
	font-size:22px;
	color:#000000;
	margin-right: 10px;
	    display: none;
}

.title-container{
	text-align: center;
    margin-bottom: 20px;
}

.title-container .fa-user-circle{
	font-size: 120px;
}

.login-button{
	text-transform: uppercase;
    font-size: 12px;
    padding: 10px 20px;
        background-color: #0000004a;
        color: #ffffff;
}

.login-button:hover{
	background-color: #fff;
    color: #308fb9;
}

.user-container,
.password-container,
.repeit-password-container{
    width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
	position: relative;
}

.login-container{
	    color: #ffffff;
    background-color: #308fb9;
}

.column-container{
	margin-top: 10%;
}

.form-input{
font-size: 14px;
    border: none;
    background-color: #ededed;
    padding: 5px 5px 5px 35px;
  width: 320px;
    outline: none;
    border-bottom: 2px solid #ededed;
}

.user-icon,
.pass-icon,
.repitPass-icon{
    position: absolute;
    z-index: 99;
left: 5%;
    bottom: 10%;
    color: black;
 transform: translate(-50%, -50%);
}


input[type="text"]:hover, input[type="password"]:hover{
	animation-name: Cambio_Color;
  	animation-duration: 1s;
  	border-bottom: 2px solid red;
}

input[type="text"]:hover:after, input[type="password"]:hover:after{
  	animation-name: Sale_Color;
  	animation-duration: 1s;
  	border-bottom: 2px solid black;
}


input[type="button"],input[type="submit"]{
    margin-top: 10px;
}

.buttons-container{
	    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
	}

	.button-container{
	padding: 10px
	}
	
	.buttons-container a {
padding: 10px;
    border: 1px solid;
    text-decoration: none;
    color: #ffffff;
    width: 150px !important;
    display: block;
    text-align: center;
    font-size: 13px;
	}
	
	.buttons-container a:hover,
	.buttons-container a:focus{
	    color: black;
	    text-decoration: none;
	}